.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}

/* ==========================================
Single-colored icons can be modified like so:
.icon-name {
  font-size: 32px;
  color: red;
}
========================================== */

.icon-Cliente-6 {
  width: 2.0986328125em;
}

.icon-Cliente-5 {
  width: 2.0986328125em;
}

.icon-Cliente-4 {
  width: 2.0986328125em;
}

.icon-Cliente-3 {
  width: 2.0986328125em;
}

.icon-Cliente-2 {
  width: 2.0986328125em;
}

.icon-Cliente-1 {
  width: 2.0986328125em;
}

.icon-reloj {
  width: 0.974609375em;
}
